<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{gem.fullImagePath}}" alt="{{gem.name}}">
  <div class="card-body">
    <h5 class="card-text">{{gem.name}}</h5>
    <app-tabs [gem]="gem"></app-tabs>
    <p class="card-text">{{gem.price | currency}}</p>
    <select>
        <option *ngFor="let color of gem.colors">{{color}}</option>
    </select>
  </div>
    <button *ngIf="gem.inventory > 0" class="btn btn-default" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
</div>
